.zero {
  background-color: beige;
}
.one {
  background-color: lightblue;
}
.two {

}
.two_one {
  background-color: orange;
}
.two_two {
  background-color: orangered;
}
.two_three {
  background-color: olivedrab;
}
.three {
  background-color: yellowgreen;
}
